/*
	Estructure Basic
*/
.main
	max-width 1170px
	margin 0 auto 
	padding 0 10px
	position relative
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box

.hidden-off
	overflow visible !important 

.disable
	display none !important 

.disabled
	display none !important

.front 
	z-index 50

.back
	z-index 5 

.cont-60
	width 60% 

.cont-row
	width 100% 
	height 100%
	display table
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
	position relative

.cont-row.float
	display inline-block
	position absolute left 0 top 0
	
.cont-center 
	display table-cell 
	vertical-align middle 
	position relative

.cont-elastic-col
	display table-cell 
	vertical-align top
	position relative

.cont2-col
	max-width 50% 
	width 50%
	display table-cell
	position relative

.cont3-col
	max-width 33.3% 
	width 33.3%
	display table-cell
	position relative

.cont4-col
	max-width 25% 
	width 25%
	display table-cell
	position relative

.cont5-col
	max-width 20% 
	width 20%
	display table-cell
	position relative

.cont6-col
	max-width 16% 
	width 16%
	display table-cell
	position relative

.cont7-col
	max-width 14% 
	width 14%
	display table-cell
	position relative

.cont8-col
	max-width 12.5% 
	width 12.5%
	display table-cell
	position relative

.cont9-col
	max-width 11.1% 
	width 11.1%
	display table-cell
	position relative

.cont10-col
	max-width 10% 
	width 10%
	display table-cell
	position relative

.cont11-col
	max-width 9% 
	width 9%
	display table-cell
	position relative

.cont12-col
	max-width 8.3% 
	width 8.3%
	display table-cell
	position relative

.cont-elastic
	display inline-block
	position relative

.cont-elastic.col3
	width 33.3% 

.cont-full
	display block 
	vertical-align top
	position relative
	overflow hidden

.vertical-middle 
	vertical-align middle !important

.vertical-top 
	vertical-align top !important

.aling-center 
	text-align center !important

.aling-right 
	text-align right !important

.aling-left 
	text-align left !important

.padding-lr-vertical
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box

.padding-lr-horizontal
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box

.padding-lr-vertical
	padding 20px 0 

.padding-lr-horizontal
	padding 0 20px 

/*
	Estructure Search Theme
*/
*
	font-family arial
	
.application-search
	.search-form form 
		padding-right 8px
		display inline-block
		vertical-align middle
		
		input[type="submit"]:disabled
			opacity .3

	.side-bar
		padding 0

	.content 
		.cont-row 
			margin-bottom 10px
		aside
			padding 10px
			-webkit-transition all 0.2s
			-moz-transition all 0.2s
			-ms-transition all 0.2s
			-o-transition all 0.2s
			transition all 0.2s
			-webkit-box-sizing border-box
			-moz-box-sizing border-box
			box-sizing border-box
			&:hover
				background rgba(0,0,0,.08)

		.cont-image
			height 250px
			display block
			position relative
			overflow hidden
		
		.cont-image img
			width auto
			height 100%
			position absolute
			left 50%
			top 50%
			transform translate(-50%, -50%)
		
		.cont-detail p
			font-size 13px
			line-height 18px 

//Library Awesomplete
.awesomplete
	display inline-block
	position relative
	[hidden]
		display none
	.visually-hidden
		position absolute
		clip rect(0, 0, 0, 0)
	& > input
		display block
	& > ul
		position absolute
		left 0
		z-index 1
		min-width 100%
		box-sizing border-box
		list-style none
		padding 0
		margin 0
		background #fff
		border-radius .3em
		margin .2em 0 0
		background hsla(0,0%,100%,.9)
		background linear-gradient(to bottom right, white, hsla(0,0%,100%,.8))
		border 1px solid rgba(0,0,0,.3)
		box-shadow .05em .2em .6em rgba(0,0,0,.2)
		text-shadow none
		&:empty
			display none
		& > li
			position relative
			padding .2em .5em
			cursor pointer
			&:hover
				background hsl(200, 40%, 80%)
				color black
		& > li[aria-selected="true"]
			background hsl(205, 40%, 40%)
			color white
	mark
		background hsl(65, 100%, 50%)
	li
		&:hover
			mark
				background hsl(68, 100%, 41%)
	li[aria-selected="true"]
		mark
			background hsl(86, 100%, 21%)
			color inherit

	& > ul
		&:before
			content ""
			position absolute
			top -.43em
			left 1em
			width 0
			height 0
			padding .4em
			background white
			border inherit
			border-right 0
			border-bottom 0
			-webkit-transform rotate(45deg)
			transform rotate(45deg)
	& > ul
		& > li
			position relative
			padding .2em .5em
			cursor pointer
			&:hover
				background hsl(200, 40%, 80%)
				color black
		& > li[aria-selected="true"]
			background hsl(205, 40%, 40%)
			color white
	mark
		background hsl(65, 100%, 50%)
	li
		&:hover
			mark
				background hsl(68, 100%, 41%)
	li[aria-selected="true"]
		mark
			background hsl(86, 100%, 21%)
			color inherit
			

	@supports (transform: scale(0)) 
		.awesomplete
		& > ul
			transition .3s cubic-bezier(.4,.2,.5,1.4)
			transform-origin 1.43em -.43em

		.awesomplete > ul[hidden],
			.awesomplete > ul:empty
			opacity 0
			transform scale(0)
			display block
			transition-timing-function ease


	& > ul[hidden],
	& > ul:empty
		opacity 0
		transform scale(0)
		display block
		transition-timing-function ease
