* {
  font-family: "Proxima Nova";
}
.main {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.hidden-off {
  overflow: visible !important;
}
.disable {
  display: none !important;
}
.disabled {
  display: none !important;
}
.front {
  z-index: 50;
}
.back {
  z-index: 5;
}
.cont-60 {
  width: 60%;
}
.cont-row {
  width: 100%;
  height: 100%;
  display: table;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.cont-row.float {
  display: inline-block;
  position: absolute left 0 top 0;
}
.cont-center {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.cont-elastic-col {
  display: table-cell;
  vertical-align: top;
  position: relative;
}
.cont2-col {
  max-width: 50%;
  width: 50%;
  display: table-cell;
  position: relative;
}
.cont3-col {
  max-width: 33.3%;
  width: 33.3%;
  display: table-cell;
  position: relative;
}
.cont4-col {
  max-width: 25%;
  width: 25%;
  display: table-cell;
  position: relative;
}
.cont5-col {
  max-width: 20%;
  width: 20%;
  display: table-cell;
  position: relative;
}
.cont6-col {
  max-width: 16%;
  width: 16%;
  display: table-cell;
  position: relative;
}
.cont7-col {
  max-width: 14%;
  width: 14%;
  display: table-cell;
  position: relative;
}
.cont8-col {
  max-width: 12.5%;
  width: 12.5%;
  display: table-cell;
  position: relative;
}
.cont9-col {
  max-width: 11.1%;
  width: 11.1%;
  display: table-cell;
  position: relative;
}
.cont10-col {
  max-width: 10%;
  width: 10%;
  display: table-cell;
  position: relative;
}
.cont11-col {
  max-width: 9%;
  width: 9%;
  display: table-cell;
  position: relative;
}
.cont12-col {
  max-width: 8.3%;
  width: 8.3%;
  display: table-cell;
  position: relative;
}
.cont-elastic {
  display: inline-block;
  position: relative;
}
.cont-elastic.col3 {
  width: 33.3%;
}
.cont-full {
  display: block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
}
.vertical-middle {
  vertical-align: middle !important;
}
.vertical-top {
  vertical-align: top !important;
}
.aling-center {
  text-align: center !important;
}
.aling-right {
  text-align: right !important;
}
.aling-left {
  text-align: left !important;
}
.padding-lr-vertical {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.padding-lr-horizontal {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.padding-lr-vertical {
  padding: 20px 0;
}
.padding-lr-horizontal {
  padding: 0 20px;
}
* {
  font-family: arial;
}
.application-search .search-form form {
  padding-right: 8px;
  display: inline-block;
  vertical-align: middle;
}
.application-search .search-form form input[type="submit"]:disabled {
  opacity: 0.3;
}
.application-search .side-bar {
  padding: 0;
}
.application-search .content .cont-row {
  margin-bottom: 10px;
}
.application-search .content aside {
  padding: 10px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.application-search .content aside:hover {
  background: rgba(0,0,0,0.08);
}
.application-search .content .cont-image {
  height: 250px;
  display: block;
  position: relative;
  overflow: hidden;
}
.application-search .content .cont-image img {
  width: auto;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.application-search .content .cont-detail p {
  font-size: 13px;
  line-height: 18px;
}
.awesomplete {
  display: inline-block;
  position: relative;
}
.awesomplete [hidden] {
  display: none;
}
.awesomplete .visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.awesomplete > input {
  display: block;
}
.awesomplete > ul {
  position: absolute;
  left: 0;
  z-index: 1;
  min-width: 100%;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #fff;
  border-radius: 0.3em;
  margin: 0.2em 0 0;
  background: rgba(255,255,255,0.9);
  background: linear-gradient(to bottom right, #fff, rgba(255,255,255,0.8));
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 0.05em 0.2em 0.6em rgba(0,0,0,0.2);
  text-shadow: none;
}
.awesomplete > ul:empty {
  display: none;
}
.awesomplete > ul > li {
  position: relative;
  padding: 0.2em 0.5em;
  cursor: pointer;
}
.awesomplete > ul > li:hover {
  background: #b8d3e0;
  color: #000;
}
.awesomplete > ul > li[aria-selected="true"] {
  background: #3d6d8f;
  color: #fff;
}
.awesomplete mark {
  background: #eaff00;
}
.awesomplete li:hover mark {
  background: #b5d100;
}
.awesomplete li[aria-selected="true"] mark {
  background: #3d6b00;
  color: inherit;
}
.awesomplete > ul:before {
  content: "";
  position: absolute;
  top: -0.43em;
  left: 1em;
  width: 0;
  height: 0;
  padding: 0.4em;
  background: #fff;
  border: inherit;
  border-right: 0;
  border-bottom: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.awesomplete > ul > li {
  position: relative;
  padding: 0.2em 0.5em;
  cursor: pointer;
}
.awesomplete > ul > li:hover {
  background: #b8d3e0;
  color: #000;
}
.awesomplete > ul > li[aria-selected="true"] {
  background: #3d6d8f;
  color: #fff;
}
.awesomplete mark {
  background: #eaff00;
}
.awesomplete li:hover mark {
  background: #b5d100;
}
.awesomplete li[aria-selected="true"] mark {
  background: #3d6b00;
  color: inherit;
}
@supports (transform: scale(0)) {
  .awesomplete .awesomplete,
  .awesomplete > ul {
    transition: 0.3s cubic-bezier(0.4, 0.2, 0.5, 1.4);
    transform-origin: 1.43em -0.43em;
  }
  .awesomplete .awesomplete > ul[hidden],
  .awesomplete .awesomplete > ul:empty {
    opacity: 0;
    transform: scale(0);
    display: block;
    transition-timing-function: ease;
  }
}
.awesomplete > ul[hidden],
.awesomplete > ul:empty {
  opacity: 0;
  transform: scale(0);
  display: block;
  transition-timing-function: ease;
}
.search-form {
  margin-top: 30px;
}
@media only screen and (max-width: 650px) {
  .search-form {
    display: none;
  }
}
