doctype html
html(lang="es")
    head
        title Finder challenge
        meta(charset="utf-8")
        meta(viewport="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css?family=Proxima+Nova", rel="stylesheet", type="text/css")
        link(href="/vendor/pure/pure-min.css", rel="stylesheet")
        link(href="/styles/index.css", rel="stylesheet")

    body
        .application-search
          .main
            header.cont-row
              .cont2-col
                h1#logo Finder challenge!
              .cont2-col
                .search-form
                  form
                    input(type='text', name='', data-list="JavaScript 1, JavaScript 2, JavaScript 3, JavaScript 4, JavaScript 5, JavaScript 6, JavaScript 7, JavaScript 8, Stylus, POO, Jade, Base de datos, Node.js, Gulp, Bower", data-minchars="3", data-maxitems="7").awesomplete
                    input(type='submit', value='Buscar', name='send', disabled)
                  a(href='javascript:;', title='Guardar Busqueda') Guardar Busqueda

            content.cont-row
              section.cont4-col.side-bar
                aside
                  h1 Búsquedas guardadas
                  p: a(href="javascript:;", title="") terror puro
                  p
                    a(href="javascript:;", title="") Editar
                    |  | 
                    a(href="javascript:;", title="") Eliminar
                  p: a(href="javascript:;", title="") search drama
                  p
                  p: a(href="javascript:;", title="") comedias en ingles
                aside
                  h1 Categorías
                  p Todos
                  p: a(href="javascript:;", title="") Terror
                  p: a(href="javascript:;", title="") Comedia
                  p: a(href="javascript:;", title="") Drama
                aside
                  h1 Idioma
                  p Todos
                  p: a(href="javascript:;", title="") Inglés
                  p: a(href="javascript:;", title="") Español
                  p: a(href="javascript:;", title="") Portugués
                aside
                  h1 Publicación
                  p Todos
                  p: a(href="javascript:;", title="") Hoy
                  p: a(href="javascript:;", title="") Hace una semana
                  p: a(href="javascript:;", title="") Hace un mes
                  p: a(href="javascript:;", title="") Hace un año
                aside
                  h1 Presentación
                  p: a(href="javascript:;", title="") Impresp
                  p: a(href="javascript:;", title="") Digital
                  p Impresa y digital
              section.cont-elastic-col.content
                .cont-full
                  .cont-row
                    aside.cont3-col
                      .cont-image: img(src="http://lorempixel.com/400/200/business/1" alt="")
                      .cont-detail
                        h1 Devil At The Catacombs
                        p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor.
                    aside.cont3-col
                      .cont-image: img(src="http://lorempixel.com/400/200/business/1" alt="")
                      .cont-detail
                        h1 Devil At The Catacombs
                        p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor.
                    aside.cont3-col
                      .cont-image: img(src="http://lorempixel.com/400/200/business/1" alt="")
                      .cont-detail
                        h1 Devil At The Catacombs
                        p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                  .cont-row
                    aside.cont3-col
                      .cont-image: img(src="http://lorempixel.com/400/200/business/1" alt="")
                      .cont-detail
                        h1 Devil At The Catacombs
                        p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor.
                    aside.cont3-col
                      .cont-image: img(src="http://lorempixel.com/400/200/business/1" alt="")
                      .cont-detail
                        h1 Devil At The Catacombs
                        p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor.
                    aside.cont3-col
                      .cont-image: img(src="http://lorempixel.com/400/200/business/1" alt="")
                      .cont-detail
                        h1 Devil At The Catacombs
                        p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.

            footer.pure-u-1


        //- third party libraries
        script(src="/vendor/underscore/underscore-min.js")

        //- app scripts self
        script(src="/scripts/jquery.min.js")
        script(src="/scripts/global.js")
        script(src="/scripts/search-form.js")
        script(src="/scripts/awesomplete.min.js")
        script(src="/scripts/app.js")